*{
    padding:0rem;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: #f2ebdf;
    color:#ff6c4a;
}

header{
   height:auto;
    
}

#headshot{
    float: right;
}
.content{
    border: 2px solid red;
    height: auto;
    display: grid;
    text-align: right;
    float:right;

}
.mainBio{
    padding: 3% 10%;
}


.NavBar{
    float:right;
    overflow: hidden;
    border-bottom:3px solid red;
    font-family: Xanh Mono, Arial, sans-serif;
    
}

.NavBarLi{
    display: inline-block;
    padding:10px 20px;
    justify-content: right;
    
}

.logo{
    padding-top: 1rem;
    padding-left: 1rem;
}

/*
.heroImg{
    height:600px;
    padding:25px;
}*/



.footer{
    margin-top:180px;
    height:180px;
    clear:both;
    overflow: hidden;
    border: 5px solid red;
    height:150px;
    
}

#FooterLi{
    padding: 10px 120px;
    display: block;
    float:left;
    padding:10px 160px;
    
}



